@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

::selection {
  color: #eef2ff;
  background: #4f46e5;
}


/* card animation */


.animate-card {
  /*animation: color-change 2s infinite;*/
  position: relative;
  background-color: black;
  z-index: 10;
  border: 1px solid wheat;
  width: 500px;
}

.animate-card::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -10;
  width: 510px;
  height: 200px;
  background: linear-gradient(45deg, red, blue);
}

.animate-web::before, .animate-mobile::before, .animate-description::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: rebeccapurple;
  filter: blur(140px);
  z-index: -1;
}

.animate-web::before {
  animation: color-change 10s infinite;
  left: 0;
  top: -0px;
}
.animate-mobile::before {
  animation: color-change 9s infinite;
  bottom: 0;
}
.animate-description::before {
  animation: color-change 12s infinite;
  right: 0;
  top: -0px;
}

@keyframes color-change {
  0% { background-color: #ef4444; }
  25% { background-color: #9333ea; }
  50% { background-color: #3b82f6; }
  75% { background-color: #0cb66f; }
  95% { background-color: #ef6c44; }
  100% { background-color: #ef4444; }
}

.animate-form::before, .animate-form::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  filter: blur(200px);
  z-index: -1;
  backdrop-filter: blur(900px);
}

.animate-form::before {
  animation: color-change 22s infinite;
  top: 50px;
  left: 50px;
}

.animate-form::after {
  animation: color-change 18s infinite;
  bottom: 50px;
  right: 50px;
}